<div class="container col-12 col-sm-10 col-md-8 col-lg-6 mt-3 pb-5">
  <div class="row justify-content-center mb-3">
    <select class="form-control col-10 col-sm-11" name="categorySelector" id="categorySelector">
      <option value="">查看類別開銷</option>
      {{#each categoryList}}
      <option value="{{this.name}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  {{!-- total amount --}}
  <div class="form-group row justify-content-center">
    <label class="col-2 col-form-label" for="totalAmount">總金額</label>
    <input class="col-9 form-control" type="number" name="totalAmount" id="totalAmount" value="00000" disabled>
  </div>
  {{!-- record list --}}
  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item d-flex justify-content-center align-items-center">
      <div class="col-2 text-center" style="font-size: 36px;">
        {{#each ../categoryList}}
        {{#ifEqual this.name ../this.category}}{{{this.icon}}}{{/ifEqual}}
        {{/each}}
      </div>
      <div class="col-4">
        <h5 class="recordName">{{this.name}}</h5>
        <span class="badge badge-dark mb-0">{{this.date}}</span>
        <span class="badge badge-warning mb-0">{{this.category}}</span>
      </div>
      <div class="col-3">
        <h2 class="mr-3 text-right">{{this.amount}}</h2>
      </div>
      <div class="col-auto">
        <a class="btn btn-secondary" href="/records/{{this._id}}/edit">修改</a>
        <button class="btn btn-danger" type="submit" data-toggle="modal"
          data-target="#deleteModal{{ this._id }}">刪除</button>
      </div>
    </li>
    {{/each}}
  </ul>
  {{!-- create button --}}
  <div class="createButton row justify-content-center mt-3 mb-4">
    <a href="/records/new" class="btn btn-info col-6">新增支出</a>
  </div>
</div>
{{!-- delete modal --}}
{{#each records}}
{{!-- Modal --}}
<div class="modal fade" id="deleteModal{{ this._id }}" tabindex="-1" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>確定要刪除 {{this.name}} 這筆資料嗎？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}